# Ignore node_modules directory
node_modules/

# Ignore .env file (contains sensitive information)
.env

# Ignore compiled code and build artifacts
dist/
build/
out/

# Ignore log files
*.log

# Ignore editor and IDE specific files
.vscode/
.idea/
*.iml

# Ignore macOS specific files
.DS_Store

# Ignore npm and yarn lock files
package-lock.json
yarn.lock
